@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    background: #232323;
}

h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 3.7rem;
    margin-top: 1em;
}

span {
    color: #ffffff;
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}

.center {
    margin: auto;
    margin-top: 5rem;
    width: 50%;
    height: 100%;
    padding: 1rem 15rem;
  }

input{
    color: #232323;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0;
  }

  .button-accent{
    margin-left: 75%;
    margin-top: 25%;
    display: block;
    font-size: 2rem;
    padding: 0.4em 1.5em;
    position: absolute;
    border-width: 2px;
    border-style: solid;
    color: #232323;
    border-color: #232323;
    background: #ffffff	;
}

.button-accent:hover,
.button-accent:focus{
    background:  #232323;
    color: #ffffff;
}