<!DOCTYPE html>
<html>
	<head>
		<title>
		Home
		</title>
		<link href="../static/projectHome.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1 class = "h1">Welcome to my project home page</h1>
		<span class = "span">Please naviagte to the desired section</span>
		<div class = "center">
			<button class="button button-accent" onclick = "window.location.href='/json'">JSON</button>
			<button class="button button-accent" onclick = "window.location.href='/api'">API</button>
			<button class="button button-accent" onclick = "window.location.href='/check'">CHECK PIN</button>
		</div>
	</body>
</html>